  @import "https://fonts.googleapis.com/icon?family=Material+Icons";
  #inputFields1,#inputFields2{
    margin: 1%;
  }

  #searchButton{
    float: right;
    margin-right: 2%;
  }
  input {
    /*float:left;*/
  }
  .container{
    /*width: 100%;
    height: 60%;
    padding: 10%;
    border-bottom: 2px;
    border-width: 2px;
    border-color: #d500f9;*/
  }
.label{
  -webkit-text-fill-color: #03a9f4;
}
