<div>
  <div class="navbar navbar-default">
    <ul id="dropdown1" class="dropdown-content col s20">
      <li class="col s12" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"  *ngIf="loggedIn">
        <a [routerLink] = "['/profileManagement', 'getProfile']">Profile</a></li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"  *ngIf="loggedIn">
        <a [routerLink] = "['/mytrips']">My Trips</a></li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"  *ngIf="loggedIn">
        <a [routerLink] = "['/addtrip']">Add Trip</a></li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"  *ngIf="loggedIn">
        <a [routerLink] = "['/messages']">Messages</a></li>
      <li class="divider"></li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"  *ngIf="loggedIn">
        <a [routerLink] = "['/logout']">LogOut</a></li>
    </ul>
    <nav id="nav_f" class="default_color" role="navigation">
      <div class="container">
        <div class="nav-wrapper">
          <a [routerLink] ="['/landingPage']" class="brand-logo"><strong>Travel With Me</strong></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="#intro">Home</a></li>

            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"  *ngIf="loggedIn" >
              </li>


          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"  *ngIf="!loggedIn" >
            <a [routerLink] = "['/register']">Signup</a></li>

          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink] = "['/login']"  *ngIf="!loggedIn"  >Login</a></li>

            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"  *ngIf="loggedIn">
              <a [routerLink] = "['/searchtrips']">Search</a>


            <li><a class="dropdown-button col s12" href="#!" data-activates="dropdown1"><i class="material-icons  material-icons right ">
              account_circle arrow_drop_down </i>
            </a></li>
        </ul>


        <ul id="nav-mobile" class="side-nav">
          <li><a href="#intro" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" *ngIf="!loggedIn">Home</a></li>
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"  *ngIf="loggedIn" >
            <a [routerLink] = "['/profileManagement']">Profile</a></li>
          <!--<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"  *ngIf="loggedIn" ><a [routerLink] = "['/viewProfile']">Profile</a></li>-->
          <!--<li><a href="#contact">Contact</a></li>-->
          <li><a href="#mytrips" *ngIf="loggedIn">My Trips</a></li>
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"  *ngIf="!loggedIn" >
            <a [routerLink] = "['/register']">Signup</a></li>
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink] = "['/login']"  *ngIf="!loggedIn"  >Login</a></li>
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" (click)="logout()">
            <a [routerLink] = "['/logout']"    *ngIf="loggedIn">Logout</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>

        </div>
    </div>
  </nav>
    <!--<div class="mdl-textfield mdl-js-textfield mdl-textfield&#45;&#45;expandable">-->
      <!--<label class="mdl-button mdl-js-button mdl-button&#45;&#45;icon" for="search-expandable">-->
        <!--<i class="material-icons">search</i>-->
      <!--</label>-->
      <!--<div class="mdl-textfield__expandable-holder">-->
        <!--<input class="mdl-textfield__input" type="text" id="search-expandable" />-->
        <!--<label class="mdl-textfield__label" for="search-expandable">Search text</label>-->
      <!--</div>-->
    <!--</div>-->

</div>

</div>
