<div>
  <div class="navbar navbar-default">
    <nav id="nav_f" class="default_color" role="navigation">
      <div class="container">
        <div class="nav-wrapper">
          <a [routerLink] ="['/landingPage']" class="brand-logo"><strong>Travel With Me</strong></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="#intro">Home</a></li>

            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"  *ngIf="loggedIn" >
              <a [routerLink] = "['/register']">Notifications</a></li>
          <li><a href="#contact">Contact Us</a></li>


          <!--<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"  *ngIf="loggedIn" >-->
            <!--<a [routerLink] = "['/profileManagement']">Profile</a></li>-->
           <!--<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"  *ngIf="loggedIn" >-->
            <!--<a [routerLink] = "['/mytrips']">My Trips</a></li>-->

          <!--<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"  *ngIf="loggedIn" >-->
            <!--<a [routerLink] = "['/addtrip']">Add Trip</a></li>-->


          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"  *ngIf="!loggedIn" >
            <a [routerLink] = "['/register']">Signup</a></li>

          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink] = "['/login']"  *ngIf="!loggedIn"  >Login</a></li>



              <!--<div class="collapse navbar-collapse">-->
                    <li *ngIf="loggedIn" class="dropdown"  appDropDown>
                      <a class="dropdown-toggle" role="button">Profile <span class="caret"></span></a>
                       <ul class="dropdown-menu">
                         <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"  *ngIf="loggedIn" >
                           <a [routerLink] = "['/profileManagement']">My Profile</a></li>
                        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"  *ngIf="loggedIn" >
                          <a [routerLink] = "['/mytrips']">My Trips</a>
                        </li>
                        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"  *ngIf="loggedIn" >
                          <a [routerLink] = "['/addtrip']">Add Trip</a>
                        </li>
                        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"  *ngIf="loggedIn">
                          <a href="#">Messages</a></li>
                        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" (click)="logout()" *ngIf="loggedIn">
                          <a [routerLink] = "['/logout']">Logout</a>
                        </li>
                       </ul>
                     </li>
              <!--</div>-->
          <!--<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" (click)="logout()" *ngIf="loggedIn">-->
            <!--<a [routerLink] = "['/logout']">Logout</a></li>-->

        </ul>


        <ul id="nav-mobile" class="side-nav">
          <li><a href="#intro" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" *ngIf="!loggedIn">Home</a></li>
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"  *ngIf="loggedIn" >
            <a [routerLink] = "['/profileManagement']">Profile</a></li>
          <!--<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"  *ngIf="loggedIn" ><a [routerLink] = "['/viewProfile']">Profile</a></li>-->
          <!--<li><a href="#contact">Contact</a></li>-->
          <li><a href="#mytrips" *ngIf="loggedIn">My Trips</a></li>
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"  *ngIf="!loggedIn" >
            <a [routerLink] = "['/register']">Signup</a></li>
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink] = "['/login']"  *ngIf="!loggedIn"  >Login</a></li>
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" (click)="logout()">
            <a [routerLink] = "['/logout']"    *ngIf="loggedIn">Logout</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>

        </div>
    </div>
  </nav>

</div>

</div>
