<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<style>
  #basicInfo, #uploadPhoto{
    margin-right:10px;
    float:left;
    margin-left: 40px;
  }
  #basicInfo{
    margin-right: 10px;
  }
  #aboutBox{
    float:right;
    margin-right:43px;
  }
</style>

<div style="background: rgba(76, 175, 80, 0.0)">
  <!-- left column -->


  <div id="basicInfo" class="col s12 z-depth-4 card-panel" style="width:45%;">
    <p>Add Your Trip</p>
    <form class="col s12" name="form" (ngSubmit)="addTrip()" #f="ngForm" novalidate>
      <div class="row">
        <div class="input-field col s12">
          <input id="trip_name" type="text" name="tripName" class="validate" [(ngModel)]="model.tripName" #tripName="ngModel" required >
          <label for="trip_name">Trip Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="source" type="text" name="source" class="validate" [(ngModel)]="model.source" #source="ngModel" required >
          <label for="source">From?</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="destination" type="text" name="destination" class="validate" [(ngModel)]="model.destination" #destination="ngModel" required >
          <label for="destination">Where To?</label>
        </div>
      </div>

      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !startdate.valid }">
        <label for="startdate">From</label>
        <input type="date" class="form-control" name="startdate" [(ngModel)]="model.startDate" placeholder="yyyy-MM-dd" min="1980-01-01" max="2000-12-31"
               required #startdate="ngModel" required />

        <div *ngIf="f.submitted && !startdate.valid" class="help-block">Date is required</div>
      </div>

      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !enddate.valid }">
        <label for="enddate">Until</label>
        <input type="date" class="form-control" name="enddate" [(ngModel)]="model.endDate" placeholder="yyyy-MM-dd" min="1980-01-01" max="2000-12-31"
               required #enddate="ngModel" required />

        <div *ngIf="f.submitted && !enddate.valid" class="help-block">Date is required</div>
      </div>

      <br>
      <div class="row">
        <div class="input-field col s12">
          <input id="budget" type="text" name="budget "class="validate" [(ngModel)]="model.budget" #budget="ngModel" required >
          <label for="budget">Budget (max)</label>
        </div>
      </div>
      <br>
      <div class="row">
        <label>How Many People?</label>
        <select class="browser-default" id="#numOfPeople" name="numOfPeople" [(ngModel)]="model.numOfPeople" #numOfPeople="ngModel" required>
          <option value="" disabled selected>1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>

      <div class="row">
        <label>Interests:</label>
        <select class="browser-default" name="interests" id="#interests" [(ngModel)]="model.interests" #interests="ngModel" required>
          <option value="hiking" disabled selected>Hiking</option>
          <option value="surfing">Surfing</option>
          <option value="sightseeing">Sightseeing</option>
        </select>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea" name="description" [(ngModel)]="model.text" value="{{model.description}}"  #description="ngModel" required></textarea>
          <label for="textarea1">Write a description about the trip.</label>
        </div>
      </div>
      <br>
      <br>
      <button class="btn pink btn-primary z-depth-3" type="submit" value="Submit" style="margin-left: 5%">Add Trip</button>

    </form>

  </div>






</div>
