

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<style>
  #basicInfo, #uploadPhoto{
    margin-right:10px;
    float:left;
    margin-left: 40px;
  }
  #basicInfo{
    margin-right: 10px;
  }
  #aboutBox{
    float:right;
    margin-right:43px;
  }
</style>

<div style="background: rgba(70, 175, 80, 0.0)">



<div>
  <form method="post" enctype="multipart/form-data" #f="ngForm" novalidate>
    <div id="uploadPhoto" class="col s8 z-depth-2 card-panel" style="width:35%;height:275px;background-color: dimgrey;margin-left: 5%;  ">
      <div class="text-center">
        <img src="{{getImage(currentUser.image)}}" [width]="200" [height]="200" />
      </div>
      <div class="row">
        <input type="file" class="validate" (change)="getInput($event)" name="myFile" >
        <button type="button" class="btn green btn-primary z-depth-3" value="Submit" [disabled]="!fileValid" (click)="UploadAvatar()">Upload Image</button>
      </div>
    </div>
  </form>
</div>

  <div id="basicInfo" class="col s12 z-depth-3 card-panel pull-right" style="width:45%;height:575px;background-color: dimgrey">
    <form class="col s12" name="form" #f="ngForm" novalidate >
      <div class="row">
        <div class="input-field col s4">
          <label for="first_name">First Name</label>
          <br>
          <input id="first_name" type="text" class="validate"
                 [(ngModel)]="currentUser.firstname"
                 #title="ngModel"
                 name = "first_name"
                 pattern="[a-zA-Z ]*" style="-webkit-text-fill-color: White" ngModel required >
          <span *ngIf="currentUser.firstname === ''" class="help-block">First Name is required</span>
        </div>
        <div class="input-field col s4">
          <label for="last_name">Last Name</label>
          <br>
          <input id="last_name" type="text" class="validate"
                 [(ngModel)]="currentUser.lastname"
                 name="last_name"
                 #title="ngModel"
                 pattern="[a-zA-Z ]*" ngModel style="-webkit-text-fill-color: White" required >
          <span *ngIf="currentUser.lastname === ''" class="help-block" >Last Name is required</span>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s8">
          <label for="email">Email Address</label>
          <br>
          <input id="email"
                 disabled [(ngModel)]="currentUser.email"
                 type="text"
                 name="email" style="-webkit-text-fill-color: white">
        </div>
      </div>

      <div class="row">
        <input name="grp1" type="radio"
               [(ngModel)]="currentUser.gender"
               value="Male"
               [checked]="'Male'=== currentUser.gender"
               id="r1">
        <label for="r1">Male</label>

        <input name="grp1" type="radio"
               [(ngModel)]="currentUser.gender"
               value="Female"
               [checked]="'Female'=== currentUser.gender"
               id="r2">
        <label for="r2">Female</label>
      </div>
      <div class="row">
        <label for="Age">Age</label>
        <div class="input-field col s12">
          <input id="Age"
                 disabled [(ngModel)]="currentUser.age"
                 type="text"
                 name="Age" style="-webkit-text-fill-color: white">
        </div>
      </div>
      <br>
      <div class="form-group" style="background-color: dimgrey">
        <label for="country">Nationality</label>
        <select id="country" class="browser-default" [(ngModel)]="currentUser.nationality" name="country">
          <option value="" disabled selected>Select Country</option>
          <option value="Afghanistan">Afghanistan</option>
          <option value="Albania">Albania</option>
          <option value="Algeria">Algeria</option>
          <option value="American">America</option>
          <option value="Bangladesh">Bangladesh</option>
          <option value="Belgium">Belgium</option>
          <option value="Canada">Canada</option>
          <option value="China">China</option>
          <option value="Czech Republic">Czech Republic</option>
          <option value="Denmark">Denmark</option>
          <option value="Germany">Germany</option>
          <option value="Honduras">Honduras</option>
          <option value="Hong Kong">Hong Kong</option>
          <option value="Hungary">Hungary</option>
          <option value="Iceland">Iceland</option>
          <option value="India">India</option>
          <option value="Indonesia">Indonesia</option>
          <option value="Iraq">Iraq</option>
          <option value="Ireland">Ireland</option>
          <option value="Israel">Israel</option>
          <option value="Malaysia">Malaysia</option>
          <option value="Nepal">Nepal</option>
          <option value="Netherlands">Netherlands</option>
          <option value="New Zealand">New Zealand</option>
          <option value="Norway">Norway</option>
          <option value="Oman">Oman</option>
          <option value="Pakistan">Pakistan</option>
          <option value="Qatar">Qatar</option>
          <option value="Romania">Romania</option>
          <option value="Russian Federation">Russian Federation</option>
          <option value="Spain">Spain</option>
          <option value="Syria">Syria</option>

        </select>

      </div>


    </form>

  </div>
  <div class="col s12 z-depth-3 card-panel" id="aboutBox" style="width:35%;height:275px;margin-right: 60%;
  margin-bottom:2%;margin-top:-21%;background-color: dimgrey">
    <div class="row">
      <form class="col s12">
        <div class="row">
          <label>About Me</label>
          <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea" [(ngModel)]="currentUser.description" name="description"
                      #text="ngModel" style="-webkit-text-fill-color: white" required></textarea>
            <label for="textarea1"*ngIf="currentUser.description === ''">Tell us a little about you.</label>
          </div>
        </div>
      </form>
    </div>
    <br>
    <button class="btn pink btn-primary z-depth-3" type="submit" value="Submit" [disabled]="!f.valid"
            style="" (click)="OnUpdateProfile()">Update Profile</button>

  </div>

</div>


