<div >

  <div class="card sticky-action z-depth-2"  >

    <div class="card-image waves-effect waves-block waves-light">
      <img  class="activator" src="{{imageURI}}">
    </div>

    <div class="card-content" style="height: 60px">
      <span class="card-title activator grey-text text-darken-4">{{trip.tripName}}<i class="material-icons right">more_vert</i></span>
      <a *ngIf="!isMyTrip && !tripJoined; else  notJoined" (click)="JoinTrip()" href="#"> &nbsp; &nbsp; Join this Trip!</a>
      <ng-template #notJoined>
        <a *ngIf="!isMyTrip" (click)="LeaveTrip()" href="#">Leave this Trip</a>
      </ng-template>
    </div>
    <div style="background:lightblue;">
      <div style="  margin:10px;">

        <p >
          Posted by: <a *ngIf="!isMyTrip"   href="#">{{trip.user.firstname}} {{trip.user.lastname}}️   </a>
          <a *ngIf="isMyTrip"   href="#">You️   </a>
        </p>
        <p ><i class="fa fa-map-marker"></i>  {{trip.source}} → {{trip.destination}} </p>
        <p  ><i class="fa fa-calendar" aria-hidden="true">    {{trip.startDate}} →  {{trip.endDate}} </i></p>
        <i class="fa fa-money" aria-hidden="true">    Budget: {{trip.budget}} <i class="fa fa-eur" aria-hidden="true"></i>
        </i>
      </div>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">{{trip.tripName}}<i class="material-icons right">close</i></span>
      <p>{{trip.description}}</p>
    </div>
  </div>


</div>
