<div >

  <div class="card sticky-action" style="width: 400px" >

    <div class="card-image waves-effect waves-block waves-light">
      <img  class="activator" src="{{imageURI}}" style="height: 300px; width: 400px">
    </div>

    <div class="card-content" style="height: 60px">
      <span class="card-title activator grey-text text-darken-4">{{trip.tripName}}
        <i class="material-icons right">more_vert</i></span>

      <button *ngIf="!isMyTrip && !tripJoined; else  notJoined" (click)="JoinTrip()"> &nbsp; &nbsp; Join this Trip!</button>
      <ng-template #notJoined>
        <button *ngIf="!isMyTrip" (click)="LeaveTrip()">Leave this Trip</button>
      </ng-template>
    </div>
    <div style="background:lightblue;">
      <div style="  margin:10px;">

        <p >
          Posted by: <a *ngIf="!isMyTrip"   href="#">{{trip.user.firstname}} {{trip.user.lastname}}️   </a>
          <a *ngIf="isMyTrip"   href="#">You️   </a>
        </p>
        <p ><i class="fa fa-map-marker"></i>  {{trip.source}} → {{trip.destination}} </p>
        <p  ><i class="fa fa-calendar" aria-hidden="true">    {{trip.startDate}} →  {{trip.endDate}} </i></p>
        <i class="fa fa-money" aria-hidden="true">    Budget: {{trip.budget}} <i class="fa fa-eur" aria-hidden="true"></i>
        </i>
        <a class="btn-floating btn-large waves-effect waves-light red pull-right paddingCustom"
           *ngIf="(isMyTrip || tripJoined) && trip.joinUser.length!=0"
           (click)="OpenChat()">
          <i class="material-icons">message</i></a>
        <br>
        <button *ngIf="isOwner" class="btn blue btn-primary" [routerLink] = "['/edittrip']" (click)="editTrip(trip._id, trip.tripName)">Edit</button>  <button *ngIf="isOwner" class="btn blue btn-primary" (click)="deleteTrip(trip._id)">Delete</button>


      </div>
    </div>


    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">{{trip.tripName}}<i class="material-icons right">close</i></span>
      <p>Description: {{trip.description}}</p>
      <p>Participants {{this.trip.joinUser.length}} of {{this.trip.numOfPeople}} for this Trip: <br>
        <a *ngFor="let user of trip.joinUser" (click)="viewProfile(user)" style="cursor:pointer;">
          <span *ngIf="tripJoined"><br>{{user.firstname}} {{user.lastname}}</span></a></p>

      <h6 [hidden]="!showUser">
        <div class="col20 s20 " *ngIf="viewUser">
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons" (click)="Close()">close</i></a>
          <h5 class="header" >{{viewUser.firstname}} {{viewUser.lastname}}</h5>
          <div class="card horizontal">
            <div class="card-image small">
              <img src={{viewUser.image}}>
            </div>
              <div class="card-content">
                <p>Age: {{viewUser.age}}</p>
                <p>Gender: {{viewUser.gender}}</p>
                <p>Country: {{viewUser.nationality}}</p>
                <p>About: {{viewUser.description}}</p>
              </div>

            </div>
          </div>

      </h6>

    </div>
  </div>


</div>
