<!--<app-profile (featureSelected)="OnNavigate($event)"></app-profile>-->
<!--<div class="container">-->
  <!--<div class="row">-->
    <!--<div class="col-md-12">-->
<!--<app-update-profile></app-update-profile>-->
<div class="container">
  <div class="row">
  <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"  [routerLinkActive]="['active']"><a [routerLink] = "['/profileManagement', 'getProfile']">My Profile</a></li>
        <li class="tab"  [routerLinkActive]="['active']"><a [routerLink] = "['/profileManagement','mytrips']" >My Trips</a></li>
        <li class="tab"  [routerLinkActive]="['active']"><a [routerLink] = "['/profileManagement','addtrip']">Add Trip</a></li>
        <li class="tab"  [routerLinkActive]="['active']"><a [routerLink] = "['/profileManagement','messages']">Messages</a></li>
        <li  class="tab" [routerLinkActive]="['active']"><a [routerLink] = "['/profileManagement','settings']">Settings</a></li>
        <li class="tab"  [routerLinkActive]="['active']"(click)="logout()"><a [routerLink] = "['/logout']">Logout</a></li>
      </ul>
    </div>
  </div>
  </div>
  <!--<div class="row">-->
    <div>
      <router-outlet></router-outlet>
    <!--</div>-->
  </div>
<!--</div>      <app-update-profile></app-update-profile>-->
      <!--<app-add-trip *ngIf="loadedFeature === 'Add a Trip'"></app-add-trip>-->
      <!--<app-my-trips *ngIf="loadedFeature === 'My Trips'"></app-my-trips>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->



<!--<app-profile (featureSelected)="OnNavigate($event)"></app-profile>-->
<!--<div class="container">-->
  <!--<div class="row">-->
    <!--<div class="col-md-12">-->
      <!--<app-update-profile *ngIf="loadedFeature === 'My Profile'"></app-update-profile>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
