<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  var select = '';
  var i = 0;
  for ( i=1;i<=100;i++){
    select += '<option val=' + i + '>' + i + '</option>';
  }
  $('#age').html(select);
</script>

<style>
    #basicInfo, #uploadPhoto{
    margin-right:10px;
    float:left;
    margin-left: 40px;
  }
    #basicInfo{
      margin-right: 10px;
    }
    #aboutBox{
      float:right;
      margin-right:43px;
    }
</style>
<div class="card" >
  <!-- left column -->


  <div id="basicInfo" class="col s12 z-depth-4 card-panel" style="width:45%;">
    <form class="col s12" name="form" (ngSubmit)="f.form.valid && editProfile()" #f="ngForm" novalidate>
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate" [(ngModel)]="model.firstname" #title="ngModel" required >
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate" [(ngModel)]="model.lastname" #title="ngModel" required >
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input disabled id="disabled" type="text" class="validate">
          <label for="disabled">Email</label>
        </div>


      </div>

      <br>
      <div class="row">
        <input name="grp1" type="radio" id="r1">
        <label for="r1">Male</label>

        <input name="grp1" type="radio" id="r2">
        <label for="r2">Female</label>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input disabled value={{user.age}} id="disabled1" type="text" class="validate">
          <label for="disabled">Age</label>
        </div>
      </div>


    </form>
  </div>


  <!--<div id="basicInfo" class="col s12 z-depth-4 card-panel" style="width:45%;">
    <h2>Edit Profile</h2>
    <form name="form" (ngSubmit)="f.form.valid && editProfile()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="text" class="form-control" name="firstname" [(ngModel)]="model.firstname" #title="ngModel" required />
      </div>
      <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="text" class="form-control" name="lastname" [(ngModel)]="model.lastname" #title="ngModel" required />
      </div>
      <div class="form-group">
        <label>Age<input type="number" min="1" max="100" value="1" name="age" [(ngModel)]="model.age" #source="ngModel" required>
        </label>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #source="ngModel" required />
      </div>

      <div class="form-group">
        <label for="gender">Gender:
          <label>
            <input type="radio" name="gender" value="male" [(ngModel)]="model.gender" #source="ngModel" required/>Male
          </label>
          <label>
            <input type="radio" name="gender" value="female" [(ngModel)]="model.gender" #source="ngModel" required/>Female
          </label>
        </label>
      </div>
      <div class="form-group">
        <label for="nationality">Nationality</label>
        <input type="text" class="form-control" name="nationality" [(ngModel)]="model.nationality" #source="ngModel" required />
      </div>
    </form>
  </div>-->



















  <div id="uploadPhoto" class="col s12 z-depth-4 card-panel" style="width:45%;height:200px;  ">
    <div class="text-center">
      <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
      <h6>Upload a different photo...</h6>

      <input type="file" class="form-control" >
    </div>
  </div>



  <div class="col s12 z-depth-4 card-panel" id="aboutBox" style="width:45%;">
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea" [(ngModel)]="model.text" #text="ngModel" required></textarea>
            <label for="textarea1">Tell us something about yourself</label>
          </div>
        </div>
      </form>
    </div>

    <!--<label>About Me  <textarea name="text" cols="40" rows="5" [(ngModel)]="model.text" #text="ngModel" required>
      </textarea></label>-->
    <br>
    <br>
    <button class="btn pink btn-primary" type="submit" value="Submit" style="margin-left: 5%">Update Profile</button>

  </div>

</div>
