<div *ngIf="trips">
  <h2 style="margin: 10px" >My Trips</h2>
<div style="horiz-align:center; vertical-align: top; margin-left: 40px;">
<app-trip-card style="display: inline-block; margin: 10px;" *ngFor="let trip of trips "  [trip]="trip"></app-trip-card>
</div>
</div>
<div *ngIf="!hasTrips">
  <h4  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" > You have not added any trip yet  <a [routerLink] = "['/addtrip']">Add trips now!</a></h4>

</div>

<div *ngIf="!attendsTrips">

  <h4  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" > You have not joined any trip yet  <a [routerLink] = "['/searchtrips']">Find trips now!</a></h4>

</div>
<div *ngIf="attendsTrips">
<h2  style="margin: 10px">Trips I am attending</h2>
<div style="horiz-align:center; vertical-align: top; margin-left: 40px;">

<app-trip-card style="display: inline-block; margin: 10px;" *ngFor="let trip of tripsIamAttending"  [trip]="trip"></app-trip-card>
</div>
</div>

